<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      
      function initMap() {          
        mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
        var ny = L.marker([40.730610,-73.935242]).bindPopup('This is New York.'),
            ts    = L.marker([40.759011, -73.984472]).bindPopup('This is TimeSquare.');
        var cities = L.layerGroup([ny,ts]);
        var grayscale = L.tileLayer(mapboxUrl, {id: 'examples.map-zr0njcqy', 
                                                accessToken: 'sk.eyJ1Ijoic2Fuaml0aGEiLCJhIjoiY2luM251OWs2MGMwN3ZvbHVhaGd2dzJhZyJ9.jZWpHObI1JLKhTa3mCZLhw'}),
        streets   = L.tileLayer(mapboxUrl, {id: 'examples.map-zr0njcqy',
                                            accessToken: 'sk.eyJ1Ijoic2Fuaml0aGEiLCJhIjoiY2luM251OWs2MGMwN3ZvbHVhaGd2dzJhZyJ9.jZWpHObI1JLKhTa3mCZLhw'});

        //attribution: mapboxAttribution, 
        var map = L.map('map', {
            center: [40.783060, -73.971249],
            zoom: 12,
            layers: [grayscale, cities]
        });
        var baseMaps = {
            "Grayscale": grayscale,
            "Streets": streets
        };

        var overlayMaps = {
            "Cities": cities
        };
        L.control.layers(baseMaps, overlayMaps).addTo(map);
        
      }
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe4htcB5CXakDLMSXxMpITqQ8_VtjDyZ4&callback=initMap"
    async defer></script>
  </body>
</html>